nav {
  border-bottom: 3px solid green;
  padding: 20px;
  margin-bottom: 40px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bg-header {
  background-color: #000;
}

.card-holder img {
  height: 250px;
  width: 250px;
}

.colors {
  background-color: #040303;
  color: #bbbbbb;
  text-shadow: 5px 5px 5px #000;
}

.colors a {
  color: #bbbbbb;
}

.tp-text a:hover {
  color: #58f85c;
  text-shadow: -1px -1px 0 #634643, 1px -1px 0 #634643, -1px 1px 0 #634643,
    1px 1px 0 #634643, 4px 3px 0.5px #000;
}

.neon {
  font-family: 'Lora',
  serif;
  font-size: em;
  color: #fff;
  text-align: center;
}

.bg-nav {
  background: #fffc8f;
}

.footer-100 {
  bottom: 0;
  height: 8vh;
  left: 0;
  width: 100%;
}

.footer-mgn {
  top: 5vh;
}

.grow {
  transition: all 0.1s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.header-font {
  font-size: 4vw;
}

.head-mar-top {
  margin-top: 0vh;
}

.header-pad {
  padding: 15vh 0 10vh 0;
}

.icon-font {
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
}

.main-content {
  max-width: 70vw;
}

.nav-font {
  font-size: 2vw;
}

.nav-font a {
  font-size: 2vw;
}

.nav-calc-font {
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
}

.nav-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-width {
  min-width: 100vw;
}

.nav-height {
  min-height: 10vh;
}

.nav-li-width {
  min-width: 33vw;
}

.padding-main {
  padding-bottom: 5vh;
}

.pointer {
  cursor: pointer;
}

.title-line-hgt {
  line-height: 2rem;
}

.card-select:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.h-100vh {
  min-height: 100vh;
}

.copyright {
  text-align: center;
  min-width: 100vw;

}

/* Media */

@media screen and (max-width: 768px) {
  .nav-font {
    font-size: 0.75rem;
  }

  .nav-font a {
    font-size: 0.75rem;
  }

  .title-line-hgt {
    line-height: 1.5rem;
  }

  .header-font {
    font-size: 6vw;
  }

  .header-pad {
    padding: 15vh 0 5vh 0;
  }

  .tp-text {
    color: #58f85c;
    text-shadow: none;
  }

  .tp-text a {
    color: #58f85c;
    text-shadow: none;
  }
}

@media screen and (max-width: 450px) {
  .nav-font {
    font-size: 0.5rem;
  }

  .nav-font a {
    font-size: 0.5rem;
  }

  .navbar li {
    width: 40%;
  }

  .title-line-hgt {
    line-height: 1rem;
  }
}