.jumbotron {
  margin: 0px;
  padding: 0px;
  background-image: url(treebg.jpeg);
}

#logo {
  padding: 20px;
  opacity: .8;
}

nav {
  border-bottom: 3px solid #50c473;
  padding: 15px;
  margin-bottom: 40px;
  font-family: 'Fredoka One', cursive;
}

.bg-nav {
  background: #f8f6ad;
}

.card-holder img {
  height: 250px;
  width: 250px;
}

.grow {
  transition: all 0.1s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.main-content {
  max-width: 70vw;
}

.nav-calc-font {
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
}

.nav-width {
  min-width: 100vw;
}

.nav-height {
  min-height: 10vh;
}

.padding-main {
  padding-bottom: 5vh;
}

.pointer {
  cursor: pointer;
}

.card-select:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.copyright {
  text-align: center;
  min-width: 100vw;
  background: #f8f6ad;
}

/* Media */

@media screen and (max-width: 768px) {
  .nav-font {
    font-size: 0.75rem;
  }

  .nav-font a {
    font-size: 0.75rem;
  }

}

@media screen and (max-width: 450px) {
  .nav-font {
    font-size: 0.5rem;
  }

  .nav-font a {
    font-size: 0.5rem;
  }

}